[2017-03-15 11:14] sacdallago opened #1 "What is this?"
The way things stand now, in order to avoid duplicating efforts and in order to have **one, globally accepted solution**, here is what we tutors came up with [simplified]:
1. One API for group 1&2 with one database (Postgres). The API will be coded **HERE** (in this repo) **JOINTLY** by @MusicConnectionMachine/group-1, @MusicConnectionMachine/group-2  @MusicConnectionMachine/group-3 and @MusicConn

[2017-03-15 11:16] sacdallago commented on #1
P.S.: I would like everyone to give a thumbs up ( 👍 ) to my comment for me to know that you have read it.

And.. get started working too if you can :)

[2017-03-15 12:30] nbasargin commented on #1
Could we have one document (maybe on Google Drive?) that contains the current specification? So far there are many good proposals but they are scattered in many discussions/issues/unversioned excel sheets.

[2017-03-15 14:32] lukasstreit commented on #1
So we went ahead and created a Google Document with our ideas for the API. Those are calls that we think will work well with the unstructured data and will be good to work with for the other groups.

The basic idea is to store metadata about the website in the database and the actual website as a file that can be served if requested. Requesting a specific website resource would then return metadat

[2017-03-16 08:11] vviro commented on #1
@nyxathid @LukasS96 @Henni Guys, if you haven't yet considered using Swagger (https://swagger.io) for drafting, documenting and implementing the API, please check it out. (see also https://github.com/swagger-api/swagger-node). It has multiple great things going for it (documentation, client library generation for multiple languages, multiple backend platforms) and unless you have a better alternat

[2017-03-16 11:36] lgfrbcsgo opened #4 "API Authorization"
We're probably going to need API keys for PUT and POST requests.

[2017-03-16 11:41] lgfrbcsgo opened #5 "Set up database"
Set up the database so we can start implementing the ORM with [sequelize](http://docs.sequelizejs.com/en/v3/).

[2017-03-16 11:49] ShilpaGhanashyamGore commented on #1
@nyxathid : Can you include me to the API project in Swagger ?
username :ShilpaGhanashyamGore

[2017-03-16 12:18] kordianbruck commented on #4
What about DELETE?

For starters a static key will do just fine.

[2017-03-16 12:34] felixschorer commented on #4
Totally forgot about that one, @kordianbruck.

[2017-03-16 12:34] ShilpaGhanashyamGore commented on #1
@LukasS96 @nyxathid : We updated the API provided to Group2 .Please review and feed back as we already working on it .
Section 1.1 in https://docs.google.com/document/d/1TjBtrBpeD-v0Q_oqy_b2sM1i8mfR1qLu6cwPUkP8BBk/edit
We are in the university and we can discuss if we need be please let us know.

[2017-03-16 12:48] ShilpaGhanashyamGore opened #6 "Finalize the APIs Group 1 provides to Group 2"
Group 1 has updated the APIs in Section 1.1:
https://docs.google.com/document/d/1TjBtrBpeD-v0Q_oqy_b2sM1i8mfR1qLu6cwPUkP8BBk/edit
Please feedback .

[2017-03-16 12:54] ShilpaGhanashyamGore commented on #5
@lgfrbcsgo : Is this directed towards Group 1 ?
If yes , can you elaborate more on the database ? Are you referring to the main Database or the one that we provide for Group 2's purpose only.
We already have a PostGreDB with the following schema
entity_id , entity_name , entity_type .
We will create a pull request shortly to provide the server .

[2017-03-16 13:28] felixschorer commented on #5
@ShilpaGhanashyamGore That's exactly what we need! Nice! 👍
We'll have to add some tables though to store webpage metadata and "entity <-> webpage" mappings

[2017-03-16 14:53] felixschorer commented on #6
Looks good! 👍
I can create a swagger template for it if you wish. Just like the one in my pull request.

[2017-03-16 15:34] ShilpaGhanashyamGore commented on #6
@lgfrbcsgo  : I will have a look at your pull request and create one.Thank you!

[2017-03-16 15:55] #5 closed

[2017-03-16 15:56] lgfrbcsgo opened #9 "Build swagger skeleton for API of Group 1"
Build a swagger skeleton similar to #7

[2017-03-16 15:56] lgfrbcsgo opened #10 "Implement sequelize to query DB"
http://docs.sequelizejs.com/en/v3/

[2017-03-16 16:27] felixschorer commented on #9
@MusicConnectionMachine/group-1 I am more than happy to start implement that right now. #7 needs to be merged first though to avoid conflicts.

[2017-03-16 16:28] felixschorer commented on #9
There's not much else I could do right now as I don't have an overview over the database structure.

[2017-03-16 16:36] felixschorer commented on #10
Group 2 needs a way to interact with the database to store webpage metadata and connections between entities and and webpages.

[code]
`pageId` is a foreign key mapping to `Pages` and `entityId` is a foreign key mapping to a table with all entities.

[2017-03-16 18:18] kordianbruck commented on #5
@lgfrbcsgo please leave a comment when closing issues so other people know whats going on. Did you intent to continue the discussion in a different issue?

[2017-03-16 18:23] felixschorer commented on #5
@kordianbruck Yes, I've thought that issue #10 is a better fit to discuss the structure of the DB as it goes hand in hand with the implementation of sequelize.

[2017-03-16 18:23] kordianbruck commented on #10
Issue #11 is related

[2017-03-16 18:25] felixschorer commented on #9
I'll start working on it then. Thanks for merging the pull request, @kordianbruck.

[2017-03-16 18:26] kordianbruck commented on #9
@lgfrbcsgo awesomooooo - keep it going :dancer:

[2017-03-16 18:27] felixschorer commented on #9
It's surprisingly fun to work with swagger once you get the hang of it 😄

[2017-03-16 18:29] kordianbruck commented on #9
@lgfrbcsgo cause it has swag :drum: ba-dum-tsssss

[2017-03-16 19:41] nbasargin commented on #1
@ShilpaGhanashyamGore
Swagger: I'm totally new to it and will take a look at it tonight. @lgfrbcsgo did the most work so far. Can I still help you after I've familiarized myself with the project?
API: looks fine to me 👍

Are you going to the meeting tomorrow at 9 AM? We could discuss more details on the exact JSON structure.

[2017-03-16 19:48] felixschorer commented on #9
Wow, `swagger.yaml` is growing quickly in size. I haven't found a way to split it into multiple files and apperently it's currently not possible with swagger.

@MusicConnectionMachine/group-1 are you sure that point `1.2` in the Google Doc is really necessary? Would something like `/entities?type=artist` work?

**EDIT:** I'll try some more things. Just wanted to warn you in case `swagger.yaml` blo

[2017-03-16 20:04] kordianbruck commented on #9
@lgfrbcsgo will this not work? http://azimi.me/2015/07/16/split-swagger-into-smaller-files.html

[2017-03-16 20:05] felixschorer commented on #9
I'll give it a try. Was searching for first party solutions, @kordianbruck.

[2017-03-16 20:07] kordianbruck commented on #1
@nyxathid there is lots to be done with the database and actually coding the api endpoints. Currently they are mostly stubs that do nothing.

[2017-03-16 20:08] kordianbruck commented on #9
@lgfrbcsgo finish the endpoints for group 1 first please, so shilpa can start porting the code. Thanks!

[2017-03-16 20:37] felixschorer commented on #9
The skeleton for the `/entities` path is finished. Shall I create a pull request and add the other paths later? Got the compiling to `.json` working. @kordianbruck

[2017-03-16 20:45] felixschorer commented on #9
Pull request is up @kordianbruck @MusicConnectionMachine/group-1

[2017-03-16 21:47] kordianbruck commented on #9
@lgfrbcsgo thanks a lot! I hope group one appreciates this as well! @TimHenkelmann @LukasNavickas @angelinrashmi2000 @ShilpaGhanashyamGore

[2017-03-17 09:14] sacdallago opened #13 "Docker stuff"
Please, set up:

1. A `Dockerfile` to start the API
2. A `docker-compose` file to link postgres and the API, with the right ENV variables for it to work out of the box

[Like [here](https://github.com/MusicConnectionMachine/VisualizationG5)]

[2017-03-17 09:18] syncall opened #14 "Search API for website"
We from team 6 would like to have an API we can query to search through all the entities with one text string. As a result we get a lot of entries (different types: compositions, artists, etc.) If your model of the database is different you can of course adapt the results a bit.

    GET /search?q=:param&from=:from&size=:size
    :param--> some long string that is very unclear about what it wants

[2017-03-17 09:49] sacdallago commented on #10
Mh since #5 seems to going on here: you should now take care of this via https://github.com/MusicConnectionMachine/MusicConnectionMachine.github.io/issues/6

[2017-03-17 11:09] simonzachau commented on #14
So you mean you have some random input and want to get a meaningful output?

[2017-03-17 12:05] Sandr00 opened #16 "Overview"
Here is a graphical visualization of the API and the whole project, like sketched today in the meeting.
If i got something wrong in my drawing, please do not hesitate to write.
Updated after Kordians Announcement in [#17, Comment](https://github.com/MusicConnectionMachine/api/issues/17#issuecomment-287610650)

Place for the WET-Files: https://azure.microsoft.com/en-us/services/storage/blobs/
Drawi

[2017-03-17 12:15] felixschorer commented on #16
Great, thanks! So I guess we have extend the Swagger skeleton some more. Just tag me if you need help or want me to do it.

[2017-03-17 12:35] felixschorer commented on #16
One thing though. Will groups 3 and 4 directly interact with the cloud storage or will they go through the API to access it?
The API skeleton is currently setup to do the latter, but this can easily be removed.

[2017-03-17 12:38] Sandr0x00 commented on #16
As I understand today, in the cloud storage there are only files (many files). We access the links from the DB and then fetch the files directly from the links given there.

[2017-03-17 12:40] felixschorer commented on #16
Exactly. I should probably rephrase that. Should the API be a wrapper around the cloud storage? Instead of directly querying the cloud server, you query the API which then in turn queries the cloud storage and returns it as `.json`.

[2017-03-17 12:49] Sandr00 opened #17 "Access to Cloud Storage"
How will we access the cloud storage?
Should the API be a wrapper around the cloud storage? Instead of directly querying the cloud server, you query the API which then in turn queries the cloud storage and return is as `.json`.

Summoning @MusicConnectionMachine/group-2 @MusicConnectionMachine/group-3 @MusicConnectionMachine/group-4

[2017-03-17 12:49] Sandr0x00 commented on #16
I don't know. Let's move that discussion to an own issue with the whole groups G2/3/4 ;)
#17

[2017-03-17 13:01] felixschorer commented on #17
I think it'll come down to preference. Direct access might be a little faster and on the other hand accessing it via the API would give us the option to restrict cloud access for API users.
We just have to know in order to implement it.

[2017-03-17 13:06] TimHenkelmann commented on #6
@MusicConnectionMachine/group-2 just to be on the same page about that: We will drop the "entities" table from our PostgreSQL db. We will then create separate tables (via Sequelize) for "artist", "work" , "release" and "instrument" and provide a REST API with Swagger, such that you can access this data.
Do you have any benefit if we also provide a database dump?

[2017-03-17 13:32] TimHenkelmann commented on #9
First of all, thanks a lot for your swagger implementation of the /entities path. But after todays discusssion, it seems like we do not need this entities table any longer. So the API's agreed for /entities is no longer valid. Instead, we have come up with a new set of API's listed below. Therefore, we will need to create a new swagger specifiation file for these.
@MusicConnectionMachine/group-2 @

[2017-03-17 13:43] metavaults commented on #9
I have updated the API doc

[2017-03-17 13:43] felixschorer commented on #9
`/artists`, `/works`, `/releases` and `/instruments` should be pretty straight forward. Basically just copying `/entities` and changing descriptions and handler functions.
Just tag me if you need help with anything. @MusicConnectionMachine/group-1
The optional parameters work just like the `apiKey` parameters.

[2017-03-17 13:45] felixschorer commented on #9
I can also join a Hangouts session if needed.

[2017-03-17 14:38] sacdallago commented on #17
I don't get this? Direct access to cloud storage? As in the binaries that postgres stores for the database?

According to what I understood (and the way we thought this) **Everything** will go through the API! Even groups providing the data will POST the data via API. Hope this answers the question.

**edit**: If your rationale is: there are going to be some `.json` files containing data... That w

[2017-03-17 16:22] kordianbruck commented on #17
@sacdallago we cannot save all the resulting data from the common crawl parsing in Postgre - can we?

From my understanding today, we concluded, that teams 1 & 2 will have direct Database access. All other groups should be using the API.
The real question with REST APIs is: can we make it fast enough to request _ALL_ data. Its rather crazy to have more than 100MBs send DB -> API -> HTTP -> Server.

[2017-03-17 16:34] kordianbruck commented on #14
This is tricky. I think we should make an exception for elastic to have it directly access the DB or use PostgreSQLs Fulltext search capabilities. @sacdallago thoughts?

[2017-03-17 18:00] Sandr0x00 commented on #17
Group 1 and 2 have direct access? I thought we discussed today, that **everything** (like @sacdallago said) will go through the API. If they have direct access, I probably should change that in the overview ....
No Cloud Storage? Do we store everything in the DB now?
Can we please just agree on something and leave it that way?
My idea with the whiteboard (today in the meeting) and the overview (#1

[2017-03-17 21:00] nbasargin commented on #17
@sacdallago your comment has merge conflicts with today's meeting results :P

`About data:`
A few numbers about CommonCrawl (if we take only the newest crawl an only the WET files):
57800 files * ~400 MB / file (unpacked) = ~23 TB (all data, worst case) Let's assume we filter away about 99.9% useless data. Then we are left with ~23 GB. This is quite a lot. PostgreSQL can handle it (according to nu

[2017-03-17 21:08] syncall commented on #14
@simonzachau basically yes. Similar to Google.

We could set up Elasticsearch ourselves. But we would need full table access for that. That's would make the API fur us useless..
And Elasticsearch is actually not really secure (there's a paid plugin) Its intended to be used internally behind an API.

[2017-03-18 06:06] vviro commented on #17
@nyxathid
1. regarding the place to store the unstructured data: it all comes down to performance. What are the access patterns be? Would that be multiple processes accessing every file for processing separately? What's the overhead of fetching a file from the blob store on Azure? What's the overhead of fetching a file from the database? How many files would need to be fetched per second in order

[2017-03-19 11:40] kordianbruck commented on #17
So here is the executive decision we tutors came up with after some long discussions:

- We are going to store WET files on "the cloud" / file system, not in the DB. Reasoning is that those files are only used in bulk and do not need to be indexed for full-text search. So Group 2 will have WET as input (the CommonCrawl dataset) and WET (the WET files containing only the filtered pages with relevan

[2017-03-19 16:54] Sandr0x00 commented on #16
Updated Overview after @kordianbruck's [comment](https://github.com/MusicConnectionMachine/api/issues/17#issuecomment-287610650).

[2017-03-20 15:30] chaoran-chen opened #22 "Events"
For the [timeline component](https://github.com/MusicConnectionMachine/VisualizationG5/pull/30), that we have recently created, we would like to be able to fetch event data of an artist.

[code]
where Event is defined as following:
[code]
If other attributes such as category can be provided, we can certainly also use it. Some ideas for events are listed [here](https://github.com/MusicConnectionMac

[2017-03-21 16:23] syncall opened #25 "API for commenting"
Hi, for us (Team 6 Visualisation) it would be great to have a functionality for commenting like this:

It would be great if the text string could be escaped for any html inside!

This will get all the comments for one entry sorted for the newest ones

References MusicConnectionMachine/VisualizationG6#23

[2017-03-22 11:03] syncall commented on #25
A name and date field would be cool as well

[2017-03-24 10:46] kordianbruck commented on #6
This is not needed any longer right? Group 2 will directly access the DB.

Maybe we can reuse this APIs for G5/6

[2017-03-24 10:46] #6 closed

[2017-03-24 10:47] kordianbruck commented on #1
This issue is obsolete. New issues for the G5/6 APIs will be created.

[2017-03-24 10:47] #1 closed

[2017-03-24 10:48] kordianbruck commented on #14
@syncall can you use Fulltext search instead? Without using Elastic? Its kinda overkill from what we talked in the last days.

[2017-03-24 10:49] kordianbruck commented on #17
To conclude: We are going to use Azure Blobs to store any WET files - https://azure.microsoft.com/en-us/services/storage/blobs/

@Sandr00 any more questions or can we close this issue? This is not part of the API. Please discuss with @MusicConnectionMachine/group-2 how they want to do Azure Blobs

[2017-03-24 10:51] kordianbruck commented on #10
@lgfrbcsgo done for now? Maybe create more specific issues for remaining tables that are needed?

[2017-03-24 10:52] kordianbruck commented on #9
So this is finished? @TimHenkelmann

[2017-03-24 10:58] Sandr0x00 commented on #17
We can close it and discuss it there.

[2017-03-24 10:58] #17 closed

[2017-03-24 10:59] syncall commented on #14
As long it gives proper results, I guess thats fine as well. Just I think Elasticsearch would offer much better results and has a Json API already included.

[2017-03-24 11:01] Sandr0x00 commented on #16
Maybe this is not the right place for an overview as well, but where else should it be, because it includes ALL groups and is (from my perspective) important to the success of the whole project.
@kordianbruck @sacdallago

[2017-03-24 11:02] syncall commented on #14
And Elasticsearch offers an API for the autocomplete function. This was heavily requested and from my knowledge, wont be implemented so easily with just Postgres

[2017-03-24 11:42] ShilpaGhanashyamGore commented on #9
Yes we have completed this task

[2017-03-24 11:42] #9 closed

[2017-03-24 12:37] felixschorer commented on #10
Yep, done!

[2017-03-24 12:37] #10 closed

[2017-03-24 16:01] chaoran-chen commented on #22
@MusicConnectionMachine/group-3, @MusicConnectionMachine/group-4 Please assign this issue to one of you and tell us until when you can provide the API. Thanks!

[2017-03-25 11:25] LukasS96 opened #26 "Sequelize Models for Unstructured Data"
Create the sequelize models for unstructured data. As of now, the following tables should be created:

- Pages (id, url, download_link)
- Terms (id, term)
- Contains (id, term_id, page_id, occurences)

[2017-03-26 12:46] syncall opened #27 "Search API for relations"
Hi, we from team 6 would like to have an API to query relations for one or more keywords. As a result we get a lot of relations.
It would be very good, if the relations actually refer to entities from group 1&2 (type/id). If the don't, pls make it recognizable for us in the result.

GET /relations/search?q=:param&from=:from&size=:size
:param --> some keywords realating to relations (for example: `

[2017-03-27 10:48] Sandr0x00 commented on #22
Since this involves @MusicConnectionMachine/group-1 and @MusicConnectionMachine/group-2 too, I added them to this conversation.
If I recall correctly, @MusicConnectionMachine/group-3  and @MusicConnectionMachine/group-4 will only provide the data for `title` and `start`, `link` (that's where we get our data from, initially given by G1/G2).
We can't provide anything for:
`description`: we have only

[2017-03-27 13:28] Gillian0023 opened #28 "Sequelize models for relationships"
Group4 is here, Can anyone from group1 and group2 answer our following questions?Thanks
1.Do we need to create our separate sequelize models in the model folder? or we can create our model directly in the buildRelation.js file.
2.How can we get access to the database? Are the attributes' names defined in the sequelize models same as the ones in database?
@MusicConnectionMachine/group-1 @MusicConne

[2017-03-27 13:46] ShilpaGhanashyamGore commented on #28
@Gillian0023 - From group1. We are working on hosting our server on the Azure cloud.
Using that you will be able to access the database.
Yes attributes name in sequelize models is same as the attribute names in the schema
@TimHenkelmann - Maybe you could help with the question regarding creating models.

[2017-03-27 14:49] chaoran-chen commented on #22
There are two possible values for `linkType`:

* `"internal"`: The link points to a site of IMSLP, it can be used for events such as "First piece published", then the event should contain a link to the IMSLP page of that piece.
* `"external"`: The link points to another external site that contains more information about the event.

Would it make sense to use the complete sentence or paragraph that

[2017-03-27 14:54] TimHenkelmann commented on #28
Well, depends what you want to create :D If it's a seperate entity, then please create a seperate .js file for it. If it's just a relation between two entities that already exist, you can either just add it to the buildRelations.js file or create your own group4Relations.js file (which might be a good idea such that the other file does not get too big).
More information on how to create relations

[2017-03-27 15:47] Sandr0x00 commented on #28
@MusicConnectionMachine/group-3
maybe this is interesting for you guys as well, since we use more or less the same db-connection

[2017-03-27 19:45] kordianbruck commented on #26
Nice, who will be working on this @LukasS96 - please assign someone

[2017-03-27 19:47] kordianbruck commented on #28
@Gillian0023 yes, you will need to write your own models. If you talk to group 3 you can both use the same structure, which will be nice for the vis groups.

Please assign someone that will do the work or I will have to :grimacing:

[2017-03-27 19:48] kordianbruck commented on #14
Autocomplete is just a history of searched terms. It should also be able to have that implemented in the API. Best if you guys get at it or ask someone form the other groups to do it, otherwise there will be no progress.

[2017-03-27 19:49] kordianbruck commented on #27
There no model yet for the relations (see #28) but yes, this would be nice. @syncall please either implement this yourself or find someone to do it for you.

[2017-03-27 19:51] kordianbruck commented on #16
Its fine I think. We can close this issue for now. If someone is looking for it, we can reference them here.

Thanks @Sandr00

[2017-03-27 19:51] #16 closed

[2017-03-27 20:36] Gillian0023 commented on #28
We can create a following relationship table;
Relationships(id,subject_id,object_id,relationship_type,relationship_name,weights or qualities or occurrences)
Any ideas from you? we need the same structure for both groups
@MusicConnectionMachine/group-3 @MusicConnectionMachine/group-4

[2017-03-27 22:37] ansjin commented on #28
That looks great!!!
But I have few doubts:

1. We could have a relationship in which the subject/object may not be present in the already defined tables. So should we create a separate table for them or should we only keep those subjects/objects which are already defined or should we append to the already existing ones?

2. For the relationship_type we can create a separate table and reference it

[2017-03-27 23:47] ansjin commented on #22
As far as for the timeline component we can only provide the data in the form of triplets only:
[code]
If you want in the other way like:

[code]

Then its a complete different approach from extracting relationships from the text. I can't guarantee about whether we could provide data like this or not. For us, this will be like extracting events from the text not the relationships 🤐

And regarding

[2017-03-28 08:26] Gillian0023 commented on #28
@ansjin thanks, really important points
For 1 I thought group1 has already created entity table which we can use directly. We need to keep those subjects/objects which are already defined, because our all data sources come from group1 and group2, right?
For 2 and 3 relationship_type and relationship_name I defined are exactly what you understood. And I agree to create seperate tables for them whic

[2017-03-28 09:00] ansjin commented on #28
@Gillian0023 Yes, I agree with you.

Only one thing we missed in the Relationship_Table is the **URL_Id**, which will reference to the URL's table.
As discussed here(https://github.com/MusicConnectionMachine/api/issues/22), it is required by group 5 and group 6

So Now the table will look something like this :

Relationship_Table ( Id, Subject_Id, _Object_Id, Relationship_Type_Id, Relationship_Occ

[2017-03-28 09:15] Gillian0023 commented on #28
Ok, group2 has created the tables #26, we can set our attibute name to page_id

[2017-03-28 09:16] ansjin commented on #28
@Gillian0023 yeah Correct!

[2017-03-28 09:18] Henni commented on #28
`Relationship_Type_Table<Id, Relationship_Type>` should also contain a property `directed` to specify whether that relationship type is directed (e.g. 'met' vs 'taught')

[2017-03-28 09:26] #26 closed

[2017-03-28 09:37] Sandr0x00 commented on #22
As @ansjin said for his Group, G4 also has no information about IMSLP. We can only give you the URL from G1/2.
To clarify (since I wrote it a bit too shallow): We also do not know start or end, we just know "_event_ | _happened at_ | _time_"

[2017-03-28 10:51] sacdallago opened #31 "Incorrect initialization"
The [index.js](https://github.com/MusicConnectionMachine/api/blob/develop/index.js#L4) file has two functions that pretty much do the same thing: `getContext` and `connect` both connect to sequelize, so please stick to one, and I suggest `connect`.

This also means that in places like https://github.com/MusicConnectionMachine/api/blob/develop/api/controllers/entities.js#L3 you should change the co

[2017-03-28 12:06] sacdallago opened #32 "Remove test/api"
Maybe someone can refactor out unused folders, also `app/mocks` and `app/helpers`?

[2017-03-28 13:46] lustoykov opened #33 "Widget to explore Relationships - Requirements"
# I don't have rights, so please add Assigness and Deadline: 02.04.2017
so yesterdey me, @martomi and @vviro had a meeting and here is what came out of the discussion

The basic idea is that we want to display in a somewhat-table view **non-trivial relationships** (almost like a surprise-fun-fact table - Mozart | Liked | Getting Drunk)

`Entity | Relation | Entity`

When a user on the [IMSLP](http

[2017-03-28 13:49] lustoykov commented on #33
@kordianbruck just for final confirmation - is elasticsearch / API in scope of the visualization group?
Because @Henni is asking good questions regarding design of the API? I had the impression they provide the API? Can we clarify this asap so we can collaborate more efficiently?

[2017-03-28 13:53] lustoykov commented on #33
@Henni the query we're sending won't be an id, but a plain text from the search bar, I think `subject_id` might be misleading as name. Maybe `subject` and `object` is better?

Yes, so, if object couldn't be Getting Drunk, but only musicians, composers and pieces - that's OK. I only described ideal world, but you decide what to give as response (or what to save in the DB)

[2017-03-28 14:06] kordianbruck commented on #33
@lustoykov we are not doing elastic at all. Instead you guys are going to utilize PostregreSQL Fulltext search capabilities by implementing the search api (which is then basically almost the same as the autocomplete endpoint)

[2017-03-28 14:07] chaoran-chen commented on #22
Thanks for your answers, I've changed the initial post accordingly.

Can you provide any information about the `type` of an event? E.g., personal (birth, death, marriage, illness), "career" (composed something, ...), other people speaking about him/her, ... ?

[2017-03-28 14:34] lustoykov commented on #33
OK then, so

 - G3 / G4 provide database with entities / relation tables as described. G3 / G4 can you link your DB structure or describe it here?
 - G5 implements the APIs and visualises the data as described

Is that the agreement?

[2017-03-28 14:34] martomi commented on #33
Question regarding the `GET /autosuggest` endpoint:

Don't we need two parameters there? One is the `primaryEntity` and the other one the current input from the search field?

Also I think `confidence` and `importance` are not independent attributes in our context, one of them should be sufficient.

[2017-03-28 14:38] lustoykov commented on #33
`importance` means how important the relation is (we want to display top 5 probably), `confidence` means how likely it is to be accurate? I agree on `GET /autosuggest`, edited my post.

[2017-03-28 14:40] Sandr0x00 commented on #22
Sorry, can't answer that yet since the extraction of dates and times just came up last week and we (G4) just started with it. This Issue was set to low prio in our project (https://github.com/MusicConnectionMachine/RelationshipsG4/issues/47)
I will inform you, when we continue working on that.

[2017-03-28 14:44] martomi commented on #33
Yes, I understand their meaning, but both of them are calculated from the number of occurrences of the said relations in the data we have. This makes them dependent on one another.

Unless we use another metric for the confidence such as tracking user feedback on said relations. In that case you might go with something simpler such as a field that contains an integer with the number of times the r

[2017-03-28 14:50] Sandr00 opened #35 "Subtract relations from Wikipedia"
Continuing this discussion (https://github.com/MusicConnectionMachine/RelationshipsG3/issues/22) where it belongs: here :)

[2017-03-28 14:51] Henni commented on #33
@lustoykov db schemata are currently discussed over here https://github.com/MusicConnectionMachine/api/issues/28

[2017-03-28 15:17] Sandr0x00 commented on #28
Can we start implementing this? Who will do it? Maybe we should do it together?
Maybe it's best if we meet tomorrow? I saw you meet tomorrow by 10 AM in Garching? We too meet tomorrow by 10 AM (normally we meet in the Mensa-Cafeteria in Arcistr.: eduroam, nice atmosphere, food nearby and a bit more central than Garching).
What do you all (@MusicConnectionMachine/group-3, @MusicConnectionMachine/gr

[2017-03-28 18:43] FelsyWaschbaer commented on #28
@ansjin doubt 1: I think we're supposed to keep also relations where subject/object are not already defined and they probably make up the biggest part of all relations. As I understand from #33 they want to build something like [that](http://openie.allenai.org/) now and the relations for unknown subjects/objects could be used there. But since we have no IDs for them maybe we can save them in a dif

[2017-03-29 00:10] ansjin commented on #22
@chaoran-chen I was able to extract the attached data for the timeline. I think the data looks good for creation of timeline and it is in the order events happened in entity's life.

You will find the attached input and output JSON files for Bach and Mozart.

It's in this format :
[code]
**Note:**

- For some objects the end date might not exist as there are no intervals mentioned.

- Also my curr

[2017-03-29 00:20] ansjin commented on #28
@FelsyWaschbaer yeah true!!! As far as I remember @vviro also mentioned that we should dump our complete data in database . So i think probably we either need to append in the already existing subject and object table or we have to create new ones!

[2017-03-29 00:22] chaoran-chen commented on #22
Thanks, @ansjin, it looks great! I've three further questions:

* Would it be possible to also pass an easier processable version of a data (e.g., `{day: undefined, month: 1, year: 1762}` instead of `"January, 1762"`)? (If it is too much of work and you don't have time right now, I can also do it in the front-end.)
* I guess that it is not a problem to provide a link to the source - right?
* Can y

[2017-03-29 00:31] ansjin commented on #22
Thanks!

- I have to check this, may be I will add it at the later point if that's not a problem with you ?
- Source of the link will be added when we will create API. As for extraction of this relationship I will be using some URL or some text linked to URL so from there it can be easily referenced.

- I think regarding event type it will take time. As I have to parse text and extract the meaning

[2017-03-29 00:37] chaoran-chen commented on #22
Okay, that's fine! Thanks for your effort, I'm looking forward to see the API online :)

[2017-03-29 08:36] ShilpaGhanashyamGore opened #38 "Latest build on this repository fails - recent contributors check where this originates?"
Executing (default): SELECT 1+1 AS result
Connection has been established successfully.
Error initializing middleware
Error: Swagger document(s) failed validation so the server cannot start

[2017-03-29 08:55] Gillian0023 commented on #38
@ShilpaGhanashyamGore Can you start the server before my latest commit(add relationship api(swagger)),I can even not start the server before I began to bulid the relationship stuff,  npm start doesn't work for me.
Error: can't start "cd ./api/swagger/src/ && multi-file-swagger ./swagger.yaml > ../swagger.json && cd ../../../ && node app.js"

[2017-03-29 09:02] RBirkeland commented on #35
Some points to have in mind:

1. Because we use the certainty and occurrence to filter out non trustworthy information or irrelevant information, how can we distinguish between these "fun facts"/non-Wikipedia relations from completely irrelevant information?

2. Also how does @martomi @vviro @gyachdav @kordianbruck want use this information?

[2017-03-29 09:11] ShilpaGhanashyamGore commented on #31
@sacdallago
1.in your app.js file you would like to have a section dedicated to loading all of your controllers (I'm missing how you do this at this time).  -
[Shilpa]  Invoking the appropriate controller and routing of the requests is handled by swagger-express ( a middleware ) , for eg :  http ://127.0.0.1/artists -  happens from - api\api\swagger\src\paths\artists  has 2 files artists.yml and a

[2017-03-29 09:19] ShilpaGhanashyamGore commented on #38
@kordianbruck , @Gillian0023  @LukasS96  - Please check and resolve the build failure as we have to make new commits.

@Gillian0023  yesterday's commits should be checked to see where this originates.

[2017-03-29 09:33] Gillian0023 commented on #38
@LukasNavickas Did you come across some errors? If not I will delete the latest commit(swagger part) so that they can make new commits

[2017-03-29 09:53] ShilpaGhanashyamGore commented on #38
@Gillian0023  : I think the definitions in definitions.yaml are not as per the required structure .You may have the same structure as other definitions (for websites, entities , artisits) .
Generally I follow these steps:
1.make changes to definitions.yml
2. npm start to verify code compiles
3.load swagger.json in api\api\swagger onto http://editor.swagger.io/ and check if all the API requests are

[2017-03-29 10:16] gyachdav commented on #35
The idea here is to filter out those named entities that are found in our relationships database and can also be found on the Wikipedia info box. E.G. most likely we would find the relationship Beethoven born in Bonn, Germany. Wikipedia already has that relationship in the info box section. So the outcome of this issue will be to filter out this tired tidbit from the knowledge base we are creating

[2017-03-29 10:19] Henni opened #39 "Rework Relationship Database Structure"
The outcome of the meeting from @MusicConnectionMachine/group-3 and @MusicConnectionMachine/group-4

![relation-schema](https://cloud.githubusercontent.com/assets/12230153/24464521/6ff642b4-14aa-11e7-865c-ae01fbc8d160.jpg)
Blue: Planned in #28
Green: Stuff from other groups, which might be already there
Red: New stuff decided in the meeting

[2017-03-29 10:20] simonzachau commented on #39
This is our board draft, @Sandr00 is working on the digital version.
![img_1558](https://cloud.githubusercontent.com/assets/9423641/24450143/085f7f9c-147a-11e7-933c-17e3f0453225.JPG)

[2017-03-29 10:24] Henni commented on #28
awesome work @Gillian0023
let's count this as fixed and continue discussion in the follow-up issue #39

[2017-03-29 10:24] #28 closed

[2017-03-29 10:25] RBirkeland commented on #35
Right, so you want to distinguish between "common knowledge", something that everyone knows, and less known facts?

I think this can simply be implemented by query results that have occurrence lower than a certain threshold. The obvious drawback here is I stated before, that low occurrence may also mean low trustworthiness.

[2017-03-29 10:46] Gillian0023 commented on #38
@ShilpaGhanashyamGore thanks for your suggestions. I will try it later. I have deleted the relationship swagger stuff. I think the sequelize model part should not invoke errors you can review my new commit and make your new commits

[2017-03-29 10:49] ShilpaGhanashyamGore commented on #38
@Gillian0023  : thank you .
sorry but after you removed your changes  is the server running when we give npm start  ?

[2017-03-29 11:06] Sandr0x00 commented on #39
@kordianbruck @sacdallago
Could you please give us some short feedback on what you think about this schema?

[2017-03-29 11:13] ShilpaGhanashyamGore commented on #38
Issue resolved .
Thank you @Gillian0023 .

[2017-03-29 11:13] #38 closed

[2017-03-29 13:04] Sandr0x00 commented on #39
@kordianbruck @sacdallago
So we will just implement this now.

[2017-03-29 13:07] Henni commented on #39
@vviro we would also like to hear your thoughts on this.
We integrated the possibility to store every relationship we detect even if we can't categorize it. This is done by introducing `rel_str`, `subj_str` and `obj_str` so that we can store a relationship even if we aren't able to set a `subj_id` or `obj_id`.

[2017-03-29 13:22] simonzachau commented on #39
starting the work [here](https://github.com/MusicConnectionMachine/api/tree/new-model)

[2017-03-29 15:06] #13 closed

[2017-03-29 15:09] simonzachau commented on #32
["Someone"? ;-)](https://github.com/MusicConnectionMachine/RelationshipsG4/issues/5)

Done in [this PR](https://github.com/MusicConnectionMachine/api/pull/47)

[2017-03-29 15:09] #32 closed

[2017-03-29 15:57] kordianbruck commented on #39
@Sandr00 can't see anything *too* wrong with that - proceed

[2017-03-29 16:08] Sandr0x00 commented on #39
Just added the timeline table from #22.

[2017-03-29 18:23] lukasstreit commented on #31
@sacdallago swagger automatically loads the controllers, which is why we don't have any influence, meaning we have no way of passing a context object to them, iirc.
There could be another way: We can store the context in index.js and return a reference to the initial context when getContext is called again. What do you think?

[2017-03-29 18:48] syncall commented on #14
If you type something in google, the suggested words are definitely not just a history of typed words..
There is no point in implementing something a browser does anyway much better.

So we actually do have to make our own backend now? The last time Christian said we should drop any attempt for that

[2017-03-29 20:24] #31 closed

[2017-03-29 21:22] kordianbruck commented on #14
A browser does not do it across multiple users. I mean autocomplete is not a priority right now, getting the search working will be just fine for starters.

Yes, you will have to implement the search functionality - or find a college who will do it for you. Once you do, please assign them here.

[2017-03-30 07:13] ShilpaGhanashyamGore opened #52 "Unable to use API submodule in MusicConnectionMachine/StructuredData"
@sacdallago  , @kordianbruck  :  git submodule update fails
Permission denied (publickey).
fatal: Could not read from remote repository.
Please make sure you have the correct access rights and the repository exists.
problem
URL : git@github.com:MusicConnectionMachine/api.git is causing problem , it should be
https@github.com:MusicConnectionMachine/api.git
How do we resolve this ?

[2017-03-30 07:29] #52 closed

[2017-03-30 08:07] simonzachau commented on #52
Instead of https @sacdallago wants you to use [this](http://stackoverflow.com/questions/15674064/github-submodule-access-rights-travis-ci/24600210#24600210) I think. [reference](https://github.com/MusicConnectionMachine/RelationshipsG4/pull/39)

[2017-03-30 08:25] ShilpaGhanashyamGore commented on #52
It works when you add a SSH key to your git hub account and change the git@something in .gitsubmodules to https@somthehing

[2017-03-30 11:48] Sandr0x00 commented on #16
To have everything design-related in one place:
Here is the graphical model of the relation stuff: #39

[2017-03-30 14:19] Sandr00 opened #57 "Database schema"
Hey @MusicConnectionMachine/group-1 @MusicConnectionMachine/group-2,
I drew the whole database schema based on the models already in the api and we don't have a connection between the "entities" and the entities table.
Also, we have entites_id in the entities, which is an uuid. I think this should not be there, because Sequelize auto-generated foreign keys with the stuff we do in buildRelations.js

[2017-03-30 15:26] Sandr0x00 commented on #57
Can you please refactor this in a way, that it has the connection?
And have a look at entity_id?

[2017-03-30 15:28] Henni opened #59 "Move Relationships into models"
Currently the buildRelations file isn't loaded.
So I would suggest to move the relation definitions into the model files and overall base our sequelize structure on the [example app of sequelize](https://github.com/sequelize/express-example).

[2017-03-30 15:28] #39 closed

[2017-03-30 20:52] lukasstreit commented on #59
This is basically addressed in #61.
Sorry for not communicating properly, I didn't see your issue until now.
Please see if you agree with the code in the pull request :+1:
I moved buildRelations to a new directory, I think it's nice to have all relations in one file.

[2017-03-31 07:37] kordianbruck commented on #57
@TimHenkelmann can you please create the entity_id as a FK in the releases, instruments, works so that we have a relationship between the two tables. Plus remove the entity_type field in the entity table - Thanks!

[2017-03-31 08:19] sacdallago commented on #14
Well, I think the API group(s) can implement a very simple autocomplete feature which matches anything that **starts** with the looked up term. That's how big G just did it. Sometimes they also match words beginning with the search term but inside a sentence (and not just at the _beginning_) of the sentence.

If they create a view for every text element in every table (or full text search, whateve

[2017-03-31 08:25] TimHenkelmann commented on #57
yes, done in #62

[2017-03-31 08:27] kordianbruck commented on #57
Thanks!

@Sandr00 can you update the really awesome graph plox?

[2017-03-31 08:55] sacdallago commented on #59
#61 merged, this close?

[2017-03-31 09:18] Sandr0x00 commented on #57
@kordianbruck done, please check, thank you.

[2017-03-31 09:28] Sandr00 opened #65 "Clean up definitions.yaml and dsap"
Clarification: I clean up the swagger files and the files in dsap to ensure that inserting and reading data works with sequelize and swagger.

[2017-03-31 09:55] #59 closed

[2017-03-31 10:00] Henni commented on #57
This issue should be closed.
Can we move the graphic over to the wiki?
@kordianbruck @sacdallago can you enable the wiki for this repo?

[2017-03-31 10:06] kordianbruck commented on #57
Wiki is up.

[2017-03-31 10:06] #57 closed

[2017-03-31 10:19] Sandr00 opened #66 "Set up mocha.js for the API"
Create automatic tests for the API

[2017-03-31 10:39] kordianbruck commented on #66
how to is here: https://apigee.com/about/blog/developer/swagger-test-templates-test-your-apis

[2017-03-31 11:09] martomi commented on #33
@lustoykov `GET /autosuggest` would make more sense to deliver the following format in my opinion, but it's almost the same:
[code]

[2017-03-31 11:37] lustoykov commented on #33
I don't mind, will adjust the frontend once the final API is there. Then the relations should be nested as well, because otherwise if I'd want to access the 3rd relation for instruments I'd need the count of artists.

[2017-03-31 12:16] martomi commented on #33
@lustoykov What is the use case of that?

[2017-03-31 12:37] lustoykov commented on #33
it is just more consistent design in my opinion, the split in entities and non-split in relations seems a bit arbitrary to me. anyways, I don't mind here much - whatever you prefer.

[2017-03-31 12:47] martomi commented on #33
Entities have different types and underlying models hence the need for a split.

If you prefer a more consistent look, an alternative structure would be to drop entities altogether.

[code]
Those correspond to actual models in the backend.

[2017-03-31 14:03] Sandr0x00 commented on #65
Dependent on #70 and #66
Because with the mocha stuff, we know what exactly is wrong.

[2017-03-31 15:12] lustoykov commented on #33
no worries, do whatever you feel like is best, just let me know when it is final so I can adjust the frontend.

[2017-04-01 20:30] syncall commented on #27
Thanks for taking this issue @Henni 👍
At least from my point ov view this is quite similar to issue #33 with the `GET /autosuggest` part, only without the primary entity. Maybe this can be done with the same data model and in the same go?

[2017-04-02 12:16] FelsyWaschbaer opened #73 "Sequelize cannot connect to postgres"
When I run **docker-compose build && docker-compose up** on the development branch I get a
SequelizeConnectionRefusedError. The postgres docker is starting normally though. Is there some information missing in the README file or is there a bug.

api_1     | { SequelizeConnectionRefusedError: connect ECONNREFUSED 127.0.0.1:5432
api_1     |     at /usr/src/api/node_modules/sequelize/lib/dialects/pos

[2017-04-02 12:20] martomi commented on #73
Can you try running `docker-compose up` a second time? I had the same error the first time I ran it. Works from the second time. Seems like the issue is that postgres takes more time to initialize the first time it's started and is not available by the time node tries to connect.

[2017-04-02 12:32] FelsyWaschbaer commented on #73
Did not work for me

[2017-04-02 12:55] Henni commented on #73
what @martomi described should work.
Stop the currently running instance of `docker-compose up` (Ctrl+C) and rerun `docker-compose up`.

[2017-04-02 13:00] FelsyWaschbaer commented on #73
Maybe it should but it doesn't ;-)   Does it still work for you if you do docker-compose build ?

[2017-04-02 13:05] Henni commented on #73
I'm looking into it

[2017-04-02 13:48] #73 closed

[2017-04-02 18:26] chaoran-chen commented on #22
Hey. Might I ask if you've already started with this task? When can we expect to have it ready?

[2017-04-03 08:08] Sandr0x00 commented on #66
Done in #70

[2017-04-03 08:08] #66 closed

[2017-04-03 23:59] chaoran-chen commented on #22
Please give us an estimate when it can be implemented. If you can't finish it in the next few days, maybe you could provide a real and roughly complete dataset for Mozart (or Bach) so that we can get a feeling how many events there will be and how long the texts are.

[2017-04-05 12:56] ansjin commented on #22
@chaoran-chen and @vviro

Currently we take WET file given to us by group2(Later on get from the DB) -> Pass to algorithms -> Get the output Events/Relationship - > Store in the DB (currently Local DB)

But the problem is either we don't have the data to run our algorithms upon or the data is too bad that our algorithms don't give the meaningful results out. See here https://github.com/MusicConnec

[2017-04-06 09:32] Sandr00 opened #80 "Link entities"
We need a Link between entities and contains, in this direction, currently there only is a connection in the other one.
`entity => contains`

Reason: We want to find ALL entities, then all websites which are linked to one entity.
[code]

[2017-04-06 12:00] #80 closed

[2017-04-07 08:25] sacdallago opened #86 "Perform knitting in dockerfile"
[This](https://github.com/MusicConnectionMachine/api/blob/develop/package.json#L28) is one of those things that you don't need to do at _run time_ but, conceptually, at _build time_.

Please transfer the logic to the `Dockerfile` in a series of `RUN xyz` commands. This way the docker image / container is easier to debug as well.

[2017-04-07 08:28] sacdallago commented on #86
Also remember to remove [this](https://github.com/MusicConnectionMachine/api/blob/develop/package.json#L30) line, otherwise the compile step will happen on `npm start` anyway

[2017-04-07 13:09] Henni commented on #86
I would still keep this as a script inside npm, but don't run it anymore on `prestart`.
Otherwise this would be a hassle to run every time one changes the swagger API definitions.

[2017-04-07 13:24] Henni opened #88 "Azure setup"
The goal is to have a running instance of the API as an App Service which auto-deploys from Dockerhub.

In theory most of the setup is done.

[2017-04-07 13:25] Henni commented on #88
Current issue:
[code]
Seems to be a confirmed issue: https://social.msdn.microsoft.com/Forums/azure/en-US/968d3c17-f30e-4631-8dea-73f65ebfe491/getting-no-space-left-on-device-error-new-images-not-pulling-as-a-result?forum=windowsazurewebsitespreview

[2017-04-07 13:35] #86 closed

[2017-04-07 13:43] martomi opened #89 "Database for testing and working on the API?"
Last week we spoke that there's a need for a populated database connected to the API so we can move forward with API implementations and testing. What's the progress on that?

I would like to know if there's a way to populate the database on my local machine with whatever data you already have available so I can do some work on the API.

@Henni, you would probably know how this is progressing?

[2017-04-07 14:18] simonzachau commented on #89
@Sandr00 has instructions for you!

[2017-04-07 14:41] Sandr0x00 commented on #89
Yesterday @kordianbruck gave us the real DB access, currently there are no data there.

If you are fine with local data, not good data, just data, you can use our test-data:
=> check out our rep: [MusicConnectionMachine/Relationships](https://github.com/MusicConnectionMachine/Relationships)
=> make sure, you have the submodule `api` present (maybe you have to do some `git submodule update --init`

[2017-04-07 14:51] Sandr0x00 commented on #65
Should be fine at the moment, let's close that.

[2017-04-07 14:51] #65 closed

[2017-04-07 14:56] chaoran-chen commented on #22
As I have seen, you already received a set of scrapped of Wikipedia pages. Are they suitable to extract event data?

And one more thing: please provide a unique `id` to every event.

[2017-04-07 15:16] Henni commented on #88
Finally!!!
The API is live on Azure http://musicconnectionapi.azurewebsites.net/

Please open a new issue for any problems you experience and mention / assign me.

[2017-04-07 15:16] #88 closed

[2017-04-07 15:46] Sandr0x00 commented on #22
The data has a unique `id` from the db. So we can ✔️ on that.
We ran our algorithm over the data and got some data:
currently the data is just on the local dbs and is saved in the db like that:
id: b85fbef0-2cf5-4a43-a437-65e6058ee2ce
start: 1100
end:
event: Monophonic chant, also called plainsong or Gregorian chant, was the dominant form until about 1100.[36] Polyphonic (multi-voiced) music devel

[2017-04-07 17:43] kordianbruck commented on #88
nice! Good job!

[2017-04-07 18:07] kordianbruck commented on #4
As the API is up, please implement a static key auth (through ENV variable configuration) as soon as possible

[2017-04-07 19:20] pfent commented on #88
🎉 Great work!

[2017-04-08 00:15] chaoran-chen opened #90 "Feedback for Events"
Since our data are collected from the large, wide internet and are not checked by human experts, it would be nice to enable the users to give us feedback about the quality of our data. For feedbacks for the [events](https://github.com/MusicConnectionMachine/api/issues/22), an API-endpoint like the following would be necessary.
[code]

[2017-04-08 00:42] chaoran-chen commented on #25
This can be closed since we have discarded the plan to develop a comment function as described here?

[2017-04-10 11:49] Henni commented on #89
@martomi are you happy with the response by @Sandr00 and can we close this?

[2017-04-10 14:46] #4 closed

[2017-04-10 15:10] #25 closed

[2017-04-10 15:30] Sandr00 opened #94 "Classify relationships based on how often they occur"
We should "filter" relationships on how often one relationship occurs.
The more often, the more likely the relationship is correct.
Done in #96

[2017-04-10 16:28] martomi commented on #89
Yes for now.

[2017-04-10 16:28] #89 closed

[2017-04-11 10:02] syncall opened #95 "API for Autocomplete Function"
Hi, we from Team 6 would like to implement some simple Autocomplete Functionality. For this we need the following:

And to retrieve suggestions:

[2017-04-12 11:39] simonzachau commented on #94
As written by @Sandr00 I finished implementing the interface for this in #96. You call it via `/relationships/trust/{id}`.

[2017-04-12 11:39] #94 closed

[2017-04-13 09:36] Henni opened #98 "CLI"
This project should have its own cli interface similar to all the other projects.

@sacdallago do we want this?

[2017-04-13 22:38] kordianbruck commented on #98
Why would we want this? The API is running the webserver that answers any calls - what else is there to do?

Please elaborate other functionality, why this might be useful.

[2017-04-14 08:41] sacdallago commented on #98
Yeah. There's no need for a CLI in the API, I don't get this point...

[2017-04-14 12:27] Henni commented on #98
Just wanted to make sure whether you requested a cli for *all* projects, or just group 1-4.

[2017-04-14 12:27] #98 closed

[2017-04-17 18:17] pfent opened #99 "Get the API online"
Is there an API already setup somewhere?

Ideally this should be running, where the (populated) database is already running.

@MusicConnectionMachine/group-1 can you get this done before the hackathon? Your database is already running somewhere?

[2017-04-17 18:40] kordianbruck commented on #22
@Sandr00 update on this?

[2017-04-17 18:42] kordianbruck commented on #99
It should connect to the Postegre Server from @vviro - @Henni has the connection config.

[2017-04-17 22:33] kordianbruck commented on #27
@Henni this is the number 1 priority right now. By when can you finish this? Use @lgfrbcsgo to your advantage - please collab on this. We need this fast tracked so G6 can start using this.

[2017-04-17 22:53] Henni commented on #27
Planned for tomorrow.

[2017-04-17 22:54] Henni commented on #99
I can help with this, if you need help @ShilpaGhanashyamGore

[2017-04-18 04:38] ShilpaGhanashyamGore commented on #99
@Henni :Yes  I need help .Please share all the information that is required .What to do as well .I will check in the evening again. Thank you!

[2017-04-18 07:34] sacdallago commented on #27
@kordianbruck was all "I chose you" on @lgfrbcsgo right now
![](http://66.media.tumblr.com/7bf24fdcfdf041ec5d202416c18ec815/tumblr_inline_o9zrp1nCnp1r23ns4_500.gif)

[2017-04-18 07:37] sacdallago commented on #99
I think this can be done by anyone in @MusicConnectionMachine/group-1 @MusicConnectionMachine/group-2 @MusicConnectionMachine/group-3 or @MusicConnectionMachine/group-4 . You all know how the API works, no need to wait for tonight to have this up and running :) just set up an app service on MS (that's the tool of choice, if I'm not mistaken) and connect it to pg via the env vars :) Please don't wa

[2017-04-18 07:43] sacdallago commented on #22
Super needed

[2017-04-18 07:54] vviro commented on #99
Please let me know which Dockerfile I should deploy (possible on the same server as the database VM) and I'll do this ASAP.

[2017-04-18 08:10] Henni commented on #99
@vviro I'm not completely sure if the docker image is pushed to dockerhub, but in theory it is the dockerfile inside this repository ([reference](https://github.com/MusicConnectionMachine/api/blob/develop/Dockerfile)).
But an important point is, that we are currently working on the API, so it would be necessary to redeploy the new docker image regularly. If this isn't feasible for you we can deplo

[2017-04-18 08:15] vviro commented on #99
@Henni If you can easily do this on Azure, by all means please do.

[2017-04-18 08:26] sacdallago commented on #99
@Henni
1. yep, MS is more maintainable and I'd like this to be the long-term solution, so definetly go for it.
2. The API is set up as an [autobuild](https://hub.docker.com/r/musicconnectionmachine/api/) on docker hub so whatever is in ~~develop is there with tag `develop` and whatever is in master is there with tag `latest`, automatically built on merges on either branches~~.
3. The thumbs down w

[2017-04-18 08:56] Henni commented on #99
~~@sacdallago @kordianbruck any idea which type of machine / app / whatever you used for the old API on Azure? It wasn't a normal "web app" app service, as this one doesn't list docker support in its options... (see "mcmapi" in the group "production")~~
nevermind.. finally found it.

[2017-04-18 09:18] Henni commented on #99
up and running at http://mcmapi.azurewebsites.net/instruments
connected to @vviro's database and using default API-KEY for now.

[2017-04-18 09:18] #99 closed

[2017-04-18 09:45] sacdallago commented on #99
Excellent.
Pinging @MusicConnectionMachine/group-5 and @MusicConnectionMachine/group-6 . Please now try your tools on real data :)

[2017-04-18 10:43] vviro commented on #99
@sacdallago Do we have a long-term commitment from MS for the infrastructure for this project?

[2017-04-18 10:51] sacdallago commented on #99
@vviro yep :)

[2017-04-18 16:50] Sandr0x00 commented on #22
We still have no connection between G1s entities and our entities, because it was low prio before yesterday.
Since this is now HP, we will start with that. I do not have much time at the moment, but maybe another one of @MusicConnectionMachine/group-3 or @MusicConnectionMachine/group-4 can do that. Otherwise I can still do it in the Hackathon, but maybe this will be too late.

[2017-04-18 18:32] sacdallago commented on #22
Hackathon is too late, unfortunately, because if things go wrong the time won't suffice to fix them and still run everything, considering it's a saturday and we are supposed to release on sunday. So **please** someone else can try this out before that, aka tonight, tomorrow or Thursday?

[2017-04-18 18:37] Sandr0x00 commented on #22
@ansjin said in the chat, that he has a bit more time from 20.4.
Maybe he's your man 😉

[2017-04-18 18:47] ansjin commented on #22
As @Sandr00 mentioned, yes  I will be free from 20th so I will look into this after that!

[2017-04-18 21:26] goldbergtatyana commented on #27
@Henni what is the progress?

[2017-04-19 00:35] chaoran-chen opened #101 "Map IMSLP link to entity"
Hey. In order to include our widgets on [IMSLP](http://imslp.org/), we need a function that maps IMSLP URLs to our entity-ids.
I suggest something like that:
[code]
Examples:
* /wiki/Category:Mozart%2C_Wolfgang_Amadeus -> { entityType: 'artist', entityId: 123 }
* /wiki/Abendruhe,_K.Anh.C_9.10_(Mozart,_Wolfgang_Amadeus) -> { entityType: 'work', entityId: 456 }

I guess that @MusicConnectionMachine/

[2017-04-19 07:37] Henni commented on #27
I'm currently still working on this, but I have a few issues with the sequelize syntax and their non existent documentation for complex queries.

[2017-04-19 08:50] sacdallago commented on #27
@Henni as @pfent suggested, by using `fn` you should get the ability to directly query in `SQL` :) Unfortunately all these wrappers fall short on complex queries, but I'm sure you'll figure it out :)

[2017-04-19 16:17] lgfrbcsgo opened #102 "Fix extensive logging"
We at @MusicConnectionMachine/group-2 are currently having problems with the very verbose logging of the API submodule.

It literally spams the console to death and overshadows our own logging which is intended for errors and warnings.

[2017-04-19 16:20] chaoran-chen commented on #102
Can't you just grep for your own logging? (Maybe try [--line-buffered](http://stackoverflow.com/questions/7161821/how-to-grep-a-continuous-stream).)

[2017-04-19 16:36] Sandr0x00 commented on #102
To not log the api-sequelize-stuff, you have to add `logging: false` to the initializing of sequelize. (http://stackoverflow.com/a/28927913)
However, this only worked locally for me, not when I use a `postgres://` string -.-
Therefore I did not change it.
Place to look at: database.js

[2017-04-19 18:33] pfent commented on #102
I'd probably go with the approach @chaoran-chen suggested.
However, I'd probably do something along the lines:
[code]
then you can easily `grep "needle" out.log` and also watch the whole log output on your console

[2017-04-19 19:04] #102 closed

[2017-04-20 17:06] chaoran-chen opened #105 "No API-Key for GET / different API-Keys"
Currently, one API-Key is used for all request. This must be changed since it would be shipped with the client code and as a consequence be public. I think that the easiest solution is that we don't require a key for the public requests (the GET-requests and maybe some POST-requests for user feedbacks). Another way would be the usage of different API-Keys for public and private requests.

[2017-04-21 14:06] felixschorer commented on #14
What's the current progress on this? I can implement the swagger definitions and a skeleton controller if this hasn't been done yet.

[2017-04-21 14:07] felixschorer commented on #27
What's the current progress on this? I can implement the swagger definitions and a skeleton controller if this hasn't been done yet.

[2017-04-21 15:18] Henni commented on #14
@lgfrbcsgo I'm working on the sequelize stuff again now that I'm finished with my exams.
Would be great if you could finish the swagger definitions and maybe also add some controllers if they are still missing. Also take a look at #100 to see if it isn't implemented yet.

[2017-04-21 15:50] Henni commented on #105
For some reason some (maybe all?) swagger path files still contain a parameter `apiKey` which is unnecessary, if not even wrong.

These parameters should be removed and instead we should set the proper security policy.
See: http://swagger.io/docs/specification/authentication/ or https://apihandyman.io/writing-openapi-swagger-specification-tutorial-part-6-defining-security/#operation-level

If this

[2017-04-22 01:34] lgfrbcsgo opened #108 "Increase DB connection limit"
Ok, so here's the deal. @MusicConnectionMachine/group-2 started large scale processing 2 hours ago and after spawning just shy of 40 VMs we've noticed that our CPU utilization dropped massively across all machines. The problem turns out to be the DB limiting the maximum amount of concurrent connections.

We've now set the the amount of connections in the connection pool down to a single connection

[2017-04-22 08:51] kordianbruck commented on #108
Alright, we'll try to setup a new machine on azure and see if we can do like 10k connections there - shouldn't be a problem hopefully.

@sacdallago

[2017-04-22 09:09] kordianbruck commented on #101
@angelinrashmi2000 @LukasNavickas whats your update on this?

[2017-04-22 10:30] sacdallago commented on #108
Döne

[2017-04-22 10:30] #108 closed

[2017-04-22 10:44] kordianbruck commented on #108
![istock_000018031252_gbh007](https://cloud.githubusercontent.com/assets/298860/25303752/77600640-2759-11e7-938f-b37bf7988ced.jpg)

[2017-04-22 13:04] kordianbruck commented on #14
So we just need the implementation in the controller now - right? @Henni

[2017-04-22 13:06] #105 closed

[2017-04-22 13:13] kordianbruck commented on #27
PR is open for that https://github.com/MusicConnectionMachine/api/pull/100

[2017-04-23 10:03] kordianbruck commented on #90
So this issue is then done? @Binabiko
Tested?

[2017-04-23 10:16] kordianbruck opened #116 "Get docs online"
We need to deploy the api docs somewhere.

Possibly include them within the website of @MusicConnectionMachine/group-6

[2017-04-23 10:26] kordianbruck commented on #116
@lgfrbcsgo ideas?

[2017-04-23 10:29] yetolas commented on #116
You mean in the wiki page? Or what?

[2017-04-23 10:42] pfent commented on #14
should be done in #114

[2017-04-23 10:42] #14 closed

[2017-04-23 11:06] joern-vh commented on #90
Yes, Everything discussed yesterday with @sacdallago is implemented and has been tested with @Henni.

[2017-04-23 11:09] pfent commented on #90
Closing the issue then…

[2017-04-23 11:33] #116 closed

[2017-04-23 12:22] kordianbruck commented on #116
@yetolas no, we just wanted to have the docs directly available on the API site/url

[2017-04-23 12:35] martomi opened #122 "Feedback for Relationships"
Similar to #90 we need a feedback API for our relation widget.

[code]

Here's how the UI looks like for reference:
<img width="404" alt="screen shot 2017-04-23 at 14 17 51" src="https://cloud.githubusercontent.com/assets/3739458/25313611/14da83fe-2832-11e7-8208-25252c56ddfb.png">

[2017-04-23 12:37] kordianbruck commented on #122
@Binabiko Please add this endpoint similar to the one for events.

[2017-04-23 14:18] syncall opened #125 "Add total search counts to search result"
Can you please include a total field in the /search/entities/ api?
This `total` tells us about the total available search results. Because the response has only a limited size (e.g. 20)

[2017-04-23 14:19] syncall opened #126 "Split search entities API to three seperate ones"
At the moment /search/entities gives me three arrays with results. It would be much better to access these independently

Actually we (SPA) don't need the Instruments. so this could be dropped

[2017-04-23 14:19] syncall commented on #125
The Pagination relies on this

[2017-04-23 14:36] lustoykov opened #127 "/search/entities should return works as well"
@Henni /search/entities should return works as well

Then @Binabiko needs to test if `mapImpsLink` works as expected in #101

[2017-04-23 14:47] joern-vh commented on #101
Should be fixed by [this](https://github.com/MusicConnectionMachine/VisualizationG5/pull/73).

[2017-04-23 16:11] kordianbruck commented on #101
So we don't need a separate endpoint on the API for this?

[2017-04-23 16:43] syncall opened #128 "Releases API not working"
If I try to access the releases API it won't work. It produces an
`{"message":"Response validation failed: failed schema validation","code":"SCHEMA_VALIDATION_FAILED","failedValidation":true,"results":{"errors":[{"co` error

Trying http://mcmapi.azurewebsites.net/releases/fec39254-b342-46d6-872c-277ae243e4f3

Does this matter? Heard the Releases are deprecated in favor of works?

[2017-04-23 17:28] Henni commented on #128
@sacdallago or @vviro wanted to drop this table in favor of the works table.
Is this correct?

[2017-04-23 17:30] Henni commented on #125
any suggestions how the response should look like (e.g. for artists) in combination with #126 ?

[2017-04-23 17:54] kordianbruck commented on #125
[code]
like this?

[2017-04-24 01:46] kordianbruck opened #129 "Case sensitivity on the entity search API"
So right now entering 'mozart' will not work while 'Mozart' does.

[2017-04-24 15:33] #129 closed

[2017-04-24 16:34] lustoykov commented on #33
What's the status here? Can you ping me in https://github.com/MusicConnectionMachine/VisualizationG5/issues/80 when done?

Thanks

[2017-04-24 18:54] #122 closed

[2017-04-25 12:27] joern-vh commented on #101
No, has been solved by [this](https://github.com/MusicConnectionMachine/VisualizationG5/blob/develop/react/src/StartupService.jsx#L66).

[2017-04-25 12:27] #101 closed

[2017-04-25 21:48] sacdallago commented on #128
Correct. Works now contains 110+ items and some new fields in `mcmprod` and the latest API models.

[2017-04-26 18:39] #125 closed

[2017-04-26 18:40] #126 closed

[2017-04-26 18:42] Henni commented on #127
`/search/entities` is succeeded by individual queries (see #126 #132).
`/works` now supports filtering and pagination.

[2017-04-26 18:42] #127 closed

[2017-04-26 18:45] Henni opened #133 "Clean up API"
remove obsolete / unnecessary endpoints:

- [ ] `/search/entities` (see #126)
- [ ] `/releases` (see https://github.com/MusicConnectionMachine/api/issues/128#issuecomment-297175381)
- [ ] more?

[2017-04-26 18:45] #128 closed

[2017-04-27 14:53] joern-vh commented on #127
Is the current Version deployed?

[2017-04-27 20:35] Henni commented on #127
@Binabiko it should be auto-deployed via dockerhub.

[2017-04-28 16:39] chaoran-chen opened #134 "Bugs in search functions"
There are two bugs in `dsap/search.js`, `return` are missing in:
* https://github.com/MusicConnectionMachine/api/blob/develop/api/dsap/search.js#L32
* https://github.com/MusicConnectionMachine/api/blob/develop/api/dsap/search.js#L45

Furthermore, `searchEntities` searches for artists, instruments, and releases (which will be removed?) but not for works.

[2017-04-28 16:49] chaoran-chen opened #135 "Default and limited limit"
To prevent that one request can jam the total system, all requests that can return multiple items should have a default limit and we should define a maximal number of items that is allowed to be requested.

[2017-04-28 23:12] Henni commented on #135
Are you fine with a maximum of 50? We might also want to make this configurable.

[2017-04-28 23:23] chaoran-chen commented on #135
50 sounds good to me.

[2017-04-29 21:58] pfent commented on #134
@Henni any spare time for this?

[2017-04-29 22:12] chaoran-chen commented on #134
I can do it later.

[2017-04-29 22:17] chaoran-chen commented on #22
What's the current status here? I've just taken a look into the `events` table: there is still no `entityId`.

[2017-04-30 02:58] chaoran-chen commented on #133
I think that we should keep `/search/entities` for now, I like it since it's very convenient to use :D

But we should maybe remove `/search` (also known as searchString) and `/autosuggest`, both are not implemented. Besides, I found a function called `todo` in `/controllers/websites.js`, does anyone know what its purpose is / was?

[2017-04-30 03:00] chaoran-chen commented on #95
@syncall, is this still up-to-date? Should we attack it?

[2017-04-30 10:26] syncall commented on #95
I solved it with cookies. Actually I don't know if we want a cross user autocomplete. If someone writes some bullshit in the search, everyone would get these bullshit suggestions..

[2017-04-30 20:24] Henni commented on #133
@chaoran-chen what do you use the `/search/entities` endpoint for?
In my opinion it looses value as soon as you start using the pagination.
So for the first page it's fine, but afterwards you'll probably want to call the single endpoints instead.

Is it then still worth maintaining the endpoint? And if so, we should probably just reuse the dsap code from the single endpoints.

[2017-04-30 20:40] chaoran-chen commented on #133
Okay, well.. if it takes more effort to maintain it than to just keep it, then remove it. But please wait until https://github.com/MusicConnectionMachine/VisualizationG6/issues/104 is finished.

[2017-05-01 08:43] ansjin commented on #22
Please check the DB, there is already an entityId associated with events.

This issue can be closed now!

[2017-05-01 08:44] #22 closed

[2017-05-01 17:11] #135 closed

[2017-05-01 20:39] chaoran-chen commented on #22
Thank you very much, @ansjin! I found entityId but it's only in mcmprod and not in mcm. Do you know if the API is already using mcmprod? (or maybe @sacdallago, @kordianbruck?)

[2017-05-02 00:35] ansjin commented on #22
@chaoran-chen Your welcome, I am not sure about the API. Also currently there are around 25K relations and 125K events already stored in the DB, maybe you can try to use this data and give us feedback on it!

[2017-05-02 07:45] Henni commented on #22
@chaoran-chen I just switched the API to `mcmprod`. But there are still a few schema validation errors, thanks to how swagger handles `null` values.

[2017-05-02 11:25] kordianbruck commented on #95
I actually like the current implementation. So lets leave it at that for now.

[2017-05-02 11:25] #95 closed

[2017-05-02 22:03] chaoran-chen commented on #134
Obsolete since the regarding functions were deleted in #139.

[2017-05-02 22:03] #134 closed

[2017-05-02 22:42] #133 closed

[2017-05-02 23:38] chaoran-chen opened #140 "Define and use Swagger Schema"
The [schema definitions](https://github.com/MusicConnectionMachine/api/blob/develop/api/swagger/src/definitions/definitions.yaml) need to be updated and be used by the endpoints.